.page {
    .page-content {
        dl.info-table {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: start;

            dt, dd {
                margin: 0;
                // display: table-cell;
                padding: 0 0.5em;
            }

            dt {
                white-space: nowrap;
                margin-right: 2rem;
            }

            dd {
                font-weight: bold;
            }
        }
    }
}
